html, body {
    background-color: #31333d;
    color: rgb(241, 240, 240);
    font-family: "Montserrat", sans-serif;
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
}

#footer {
    color: rgb(241, 240, 240);
}
